{% extends "layout.html" %}

{% block content %}
{% from "_macros.html" import render_input2 %}
<form name="form2" method="post">
    <div class="control_group">
        <div class="controls">
            {{render_input2("txtCantCajas","Cantidad de cajas a dibujar")}}
            <button type="button" class="btn btn-default btn-primary" id="btnProcesar">
                <i class="icon-book icon-white"></i> Procesar
            </button>
        </div>
    </div>

    <div class="control_group">
        <div class="controls">
            <div id="txtResultado">

            </div>
        </div>
    </div>
    </div>    
</form>

<script>
    boton = document.getElementById("btnProcesar");

   boton.addEventListener("click", cajas)
   function cajas()
   {
       cantC = document.getElementById("txtCantCajas");
       let resultado = document.getElementById("txtResultado");

       cantC = parseInt(cantC);
        alert(cantC)
       for (i = 0; i <= cantC; i++) {
           resultado.innerHTML += ' <input type="number" name="txtNum1" placeholder="Introduce un número" value="">'
       }
   }

</script>

{% endblock %}